/* Diagrams */

svg { pointer-events: none; -ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none; }
svg.plain { overflow: visible; }
text { text-anchor: middle; }
line { fill: none; stroke: black; }
.dashed { stroke-dasharray: 4,3; }
.graph-node { fill: hsl(230,75%,50%); }
.surfing-edge { fill: none; stroke: hsl(260,30%,60%); stroke-width: 2.5px; }
.hugging-edge { fill: none; stroke: hsl(200,50%,50%); stroke-width: 3.5px; }
svg.plain .surfing-edge, svg.plain .hugging-edge { stroke-width: 4px; }
.invalid-edge { stroke: hsl(0,50%,50%); stroke-width: 5.0px; stroke-linecap: round; }

.draggable { pointer-events: visible; cursor: move; }
.draggable:hover { filter:url(#drop-shadow); }
.draggable:hover.dragging { filter:none; }
.draggable circle { fill: hsl(240,10%,90%); }
.dragging circle { fill: hsl(240,10%,88%); }

/* Fonts */

body, text.plain {
    font-family: "Source Sans Pro", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;
    font-size: 17px;
}
text {
    font-family: "KaTeX_Math", "Times New Roman", serif;
    font-size: 18px;
}
tt, code, kbd, samp, pre {
    font-family: "Source Code Pro", monospace, serif, "Segoe UI Symbol", "Symbol";
    font-size: 13px;
}
h1, h2, h3, h4, h5, h6 { font-weight: 700; letter-spacing: -1px; }
h1 { font-size: 43px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4, h5, h6 { font-size: 18px; }

section .katex { font-size: 1.1em; }


/* Layout */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre { margin: 10px 0 15px 0; }
p, ul, ol, dl { text-align: justify; hyphens: auto; -webkit-hyphens: auto; }

pre {
    width: 100%;
    padding: 10px;
    overflow: auto;
}
code {
    padding: 3px;
    margin: 0 3px;
}
header div, section div, footer div {
    max-width: 600px; margin: 0 auto;
}
header, section, footer {
    margin: 20px 0; 
}


/* Colors */

body { color: hsl(0,0%,100%); background-color: hsl(0,0%,20%); }
section { color: hsl(0,0%,20%); background-color: hsl(0,0%,95%); }
header, footer { text-shadow: 0 0 5px black; }

a { color: #fff; text-decoration: underline; }
section a { color: hsl(240,50%,50%); text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }

section { border-top: 1px solid white; border-bottom: 1px solid white; box-shadow: inset 0 0 10px hsla(0,0%,20%,0.2); }

pre, svg:not(.plain) {
    background-color: hsl(0,0%,100%);
    border: 1px solid hsl(0,0%,80%);
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}


/* "Fork Me on github" style from github */
#forkme_banner {
    display: block;
    position: absolute; top: 0; right: 0px;
    padding: 10px;
    color: #fff;
    background: #0090ff;
    border-bottom-left-radius: 10px;
}
